body {
    background: #000;
    color: #FFF;
    font: bold 13px/15px /* normal 10pt/12pt */
        'GaramondNo8', 'Garamond No. 8', 'adobe-garamond-pro', /* yay! */ 
        'Garamond', /* better than nothin'! */ 
        'Palatino Linotype', 'Palatino', /* eh, it'll do... */ 
        serif; /* just... stop.  why? */ 
    width: 1590px;
}

.flexbox {
    display: -webkit-flex;
    display:         flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.left { 
    float: left;
}

.right { 
    float: right;
}

.clearfix {
    overflow: auto;
    zoom: 1;
}

.card {
    margin: 10px;
    padding-top: 5px; 
    border: 1px solid #000;
    border-radius: 10px;
    height: 318px;
    width: 230px;
    background: #FFF;
    color: #000;
    z-index: 0;
}

.title {
    /* font-weight: bold; */
    font-size: 15px; /* 12pt */
    /* line-height: 80%; */
    text-shadow: 1px 0px 0px #000;
    height: 20px;
    text-align: center;
}

.types { 
    position: relative; 
    z-index: 1; 
    top: -143px; 
    border: 0px solid #000;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    border-top-width: 2px;
}

.type1, .type2 { width: 50%; height: 298px; }

.image {
    position: relative;
    width: 217px;
    height: 129px;
    z-index: 2;
    margin: 3px;
    border: 3px inset gray;
}

.image img {
    position: static;
}

.image img.set {
    position: relative;
    top: -35px;
    left: -1px;
    z-index: 4;
}

.image img.rarity {
    position: relative;
    top: -38px;
    left: 149px;
    z-index: 4;
}

.textboxes {
    position: relative;
    top: -304px;
    width: 227px;
    height: 119px;
    z-index: 3;
    padding: 2px;
}

.textbox {
    margin: 3px;
    border: 2px inset #000;
    padding: 3px;
}

.midbar {
    background: #AAA07D;
    color: #000;
    font-size: x-small;
    font-weight: bold;
    line-height: 120%;
    padding: 2px;
}

.midbar + .fullHeight {
    height: 118px;
}

.fullHeight {
    height: 141px;
}

.midbar + .topHalf {
    height: 56px;
}

.topHalf {
    height: 61px;
}

.midbar + .topHalf + .bottomHalf{
    height: 49px;
}

.bottomHalf {
    height: 64px;
}

.iconbox {
    position: absolute;
    height: 23px;
    width: 32px;
    margin: 3px;
    border: 2px inset #000;
    padding: 0 1px;
}

.fullHeight .iconbox {
    bottom: -40px;
}

.topHalf .iconbox {
    bottom: 40px;
}

.bottomHalf .iconbox {
    bottom: -40px;
}

.midbar + .topHalf .iconbox {
    bottom: 24px;
}

.iconbox.left {
    margin-left: -5px;
}

.iconbox.right {
    margin-left: 182px;
}

.iconbox img {
    height: 16px;
    width: 16px;
    float: left;
    margin: 4px -2px 2px 2px;
}

.iconText {
    float: right;    
    margin-top: 5px;
    font-size: larger;
}

.comparison {
    border: 3px solid #000;
}